<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="678" border="1">
    <tr>
      <td width="32">name</td>
      <td colspan="2"><label>
        <input type="text" name="textfield" />
      </label></td>
      <td colspan="4"><label>
        <input type="submit" name="Submit" value="search" />
      </label></td>
    </tr>
    <tr>
      <td>name</td>
      <td width="50">address</td>
      <td width="79">district</td>
      <td width="147">location</td>
      <td width="175">phone</td>
      <td colspan="2">email</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a href="#">track</a></td>
      <td>&nbsp;</td>
      <td width="95">&nbsp;</td>
      <td width="54"><a href="#">edit delete</a></td>
    </tr>
	<tr>
      <td colspan="7"><div align="center"><a href="/add_new">add new</a></div></td>
    </tr>
  </table>
</form>
</body>
</html>
